<h1 align=center style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazirmatn" color="#0099cc">
Banking marketing
</font>
</h1>

<h2 align="left" style="line-height:200%; font-family:vazir; color:#0099cc">
  <font face="vazirmatn" color="#0099cc">
    Introduction
  </font>
</h2>

<p dir="ltr" style="direction: ltr; text-align: justify; line-height:200%; font-size: medium;">
  <font size="3">
    Marketing is one of the main pillars of any business. It is marketing that helps increase profits and expand the organization. In marketing, we try to attract our audience to the product we intend to sell, thereby increasing sales.<br></br>
    Intelligent marketing is one of the applications of artificial intelligence and machine learning in commerce and business. One of the core principles of intelligent marketing is captured in the following sentence:<br>
    <i>“Introduce the product to those who are most likely to make a purchase.”</i><br><br>
    The dataset we have includes various information about customers who were targeted by a marketing campaign for long-term bank deposits.<br><br>
    A marketing campaign is a set of activities that raise customers’ awareness of a product.<br><br>
    In banking marketing, specialists use various methods to increase customers’ awareness of banking services.<br><br>
    In this problem, we also have diverse information about a bank’s customers and know how previous marketing campaigns performed for them. Therefore, we intend to use intelligent methods to predict which customers will subscribe to the long-term deposit offered in the new campaign. In other words, we want to know for which customers the new campaign will be successful.<br><br>
    Since you are not yet familiar with modeling, we only ask you to help us with data preprocessing. The modeling-related code is contained within this notebook—you just need to run it!
  </font>
</p>

<h2 align="left" style="line-height:200%; font-family:vazir; color:#0099cc">
  <font face="vazirmatn" color="#0099cc">
    Dataset
  </font>
</h2>

<p dir="ltr" style="direction: ltr; text-align: justify; line-height:200%; font-family:vazir; font-size: medium;">
  <font face="vazirmatn" size="3">
    The dataset provided in this question, as mentioned earlier, contains information about customers who were contacted as part of the bank’s long‑term deposit campaign. Therefore, each row in the dataset corresponds to one customer. In the table below, we review the columns of this dataset.<br>
  </font>
</p>

<div dir="ltr" style="direction: ltr; line-height:200%; font-family:vazir; font-size: medium; text-align: left;">
  <font face="vazirmatn" size="3">
    <table>
      <tr>
        <th style="padding:4px; text-align:center;">Column</th>
        <th style="padding:4px; text-align:center;">Description</th>
      </tr>
      <tr>
        <td><code>age</code></td>
        <td>Customer’s age</td>
      </tr>
      <tr>
        <td><code>job</code></td>
        <td>Customer’s job</td>
      </tr>
      <tr>
        <td><code>marital</code></td>
        <td>Customer’s marital status</td>
      </tr>
      <tr>
        <td><code>education</code></td>
        <td>Customer’s education level</td>
      </tr>
      <tr>
        <td><code>default</code></td>
        <td>Default status* (failure to repay debt)</td>
      </tr>
      <tr>
        <td><code>housing</code></td>
        <td>Whether the customer has a housing loan</td>
      </tr>
      <tr>
        <td><code>loan</code></td>
        <td>Whether the customer has a personal loan</td>
      </tr>
      <tr>
        <td><code>is_telephone_contact</code></td>
        <td>Whether contact was made via landline</td>
      </tr>
      <tr>
        <td><code>month</code></td>
        <td>Month of the last contact</td>
      </tr>
      <tr>
        <td><code>day_of_week</code></td>
        <td>Day of the week of the last contact</td>
      </tr>
      <tr>
        <td><code>duration</code></td>
        <td>Duration of the last contact (in seconds)</td>
      </tr>
      <tr>
        <td><code>campaign</code></td>
        <td>Number of contacts made during this campaign for this customer</td>
      </tr>
      <tr>
        <td><code>pdays</code></td>
        <td>Days since last contact from a previous campaign (999 means not contacted before)</td>
      </tr>
      <tr>
        <td><code>previous</code></td>
        <td>Number of contacts before this campaign</td>
      </tr>
      <tr>
        <td><code>poutcome</code></td>
        <td>Outcome of the previous campaign for this customer</td>
      </tr>
      <tr>
        <td><code>y</code></td>
        <td>Outcome of the current campaign for this customer</td>
      </tr>
    </table>
    <br>
    *:  
    0: Customer did not default (repaid on time).  
    1: Customer defaulted (failed to repay installments or debts).
  </font>
</div>

<p dir="ltr" style="direction: ltr; text-align: justify; line-height:200%; font-family:vazir; font-size: medium;">
  <font face="vazirmatn" size="3">
    In total, this dataset contains 16 columns and 41,188 rows.<br>
    Missing values are indicated by the term <code>unknown</code>, which should be treated as NaN. Handling these missing values is part of the data preprocessing task discussed further below.
  </font>
</p>

<p dir="ltr" style="direction: ltr; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
  <font face="vazirmatn" size="3">
    Now that you will be helping us with data preprocessing, we ask you to handle the discrete and categorical values in the dataset. To convert discrete values into numeric form, you need mapping tables. Below are five conversion tables to help you better manage the categorical columns.
  </font>
</p>
<div dir="ltr" style="direction: ltr; line-height:200%; font-family:vazir; font-size:medium; text-align:left;">
  <font face="vazirmatn" size="3">
    <table>
      <tr>
        <th style="padding:4px; text-align:center;">Values in DataFrame</th>
        <th style="padding:4px; text-align:center;">Replacement Values</th>
      </tr>
      <tr><td><code>yes</code></td><td><code>1</code></td></tr>
      <tr><td><code>no</code></td><td><code>0</code></td></tr>
    </table>
    <br>
    <table>
      <tr>
        <th style="padding:4px; text-align:center;">Values in DataFrame</th>
        <th style="padding:4px; text-align:center;">Replacement Values</th>
      </tr>
      <tr><td><code>illiterate</code></td><td><code>0</code></td></tr>
      <tr><td><code>basic.4y</code></td><td><code>1</code></td></tr>
      <tr><td><code>basic.6y</code></td><td><code>2</code></td></tr>
      <tr><td><code>basic.9y</code></td><td><code>3</code></td></tr>
      <tr><td><code>high.school</code></td><td><code>4</code></td></tr>
      <tr><td><code>professional.course</code></td><td><code>5</code></td></tr>
      <tr><td><code>university.degree</code></td><td><code>6</code></td></tr>
    </table>
    <br>
    <table>
      <tr>
        <th style="padding:4px; text-align:center;">Values in DataFrame</th>
        <th style="padding:4px; text-align:center;">Replacement Values</th>
      </tr>
      <tr><td><code>mon</code></td><td><code>0</code></td></tr>
      <tr><td><code>tue</code></td><td><code>1</code></td></tr>
      <tr><td><code>wed</code></td><td><code>2</code></td></tr>
      <tr><td><code>thu</code></td><td><code>3</code></td></tr>
      <tr><td><code>fri</code></td><td><code>4</code></td></tr>
      <tr><td><code>sat</code></td><td><code>5</code></td></tr>
      <tr><td><code>sun</code></td><td><code>6</code></td></tr>
    </table>
    <br>
    <table>
      <tr>
        <th style="padding:4px; text-align:center;">Values in DataFrame</th>
        <th style="padding:4px; text-align:center;">Replacement Values</th>
      </tr>
      <tr><td><code>jan</code></td><td><code>0</code></td></tr>
      <tr><td><code>feb</code></td><td><code>1</code></td></tr>
      <tr><td><code>mar</code></td><td><code>2</code></td></tr>
      <tr><td><code>apr</code></td><td><code>3</code></td></tr>
      <tr><td><code>may</code></td><td><code>4</code></td></tr>
      <tr><td><code>jun</code></td><td><code>5</code></td></tr>
      <tr><td><code>jul</code></td><td><code>6</code></td></tr>
      <tr><td><code>aug</code></td><td><code>7</code></td></tr>
      <tr><td><code>sep</code></td><td><code>8</code></td></tr>
      <tr><td><code>oct</code></td><td><code>9</code></td></tr>
      <tr><td><code>nov</code></td><td><code>10</code></td></tr>
      <tr><td><code>dec</code></td><td><code>11</code></td></tr>
    </table>
    <br>
    <table>
      <tr>
        <th style="padding:4px; text-align:center;">Values in DataFrame</th>
        <th style="padding:4px; text-align:center;">Replacement Values</th>
      </tr>
      <tr><td><code>failure</code></td><td><code>-1</code></td></tr>
      <tr><td><code>nonexistent</code></td><td><code>0</code></td></tr>
      <tr><td><code>success</code></td><td><code>1</code></td></tr>
    </table>
  </font>
</div>


<p dir=rtl style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazirmatn" size=3>
    کتابخانه‌های مورد نیاز را وارد کرده و مجموعه‌داده را بخوانید.
<br>    
</font>
</p>

In [48]:
%pip install flaml
%pip install "flaml[automl]"

import pandas as pd
from flaml import AutoML
from sklearn.metrics import f1_score

Requirement already satisfied: flaml in c:\users\pentium\anaconda3\envs\pythonproject\lib\site-packages (2.3.5)
Requirement already satisfied: NumPy>=1.17 in c:\users\pentium\anaconda3\envs\pythonproject\lib\site-packages (from flaml) (2.3.1)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: flaml[automl] in c:\users\pentium\anaconda3\envs\pythonproject\lib\site-packages (2.3.5)
Requirement already satisfied: NumPy>=1.17 in c:\users\pentium\anaconda3\envs\pythonproject\lib\site-packages (from flaml[automl]) (2.3.1)
Requirement already satisfied: lightgbm>=2.3.1 in c:\users\pentium\anaconda3\envs\pythonproject\lib\site-packages (from flaml[automl]) (4.6.0)
Requirement already satisfied: xgboost<3.0.0,>=0.90 in c:\users\pentium\anaconda3\envs\pythonproject\lib\site-packages (from flaml[automl]) (2.1.4)
Requirement already satisfied: scipy>=1.4.1 in c:\users\pentium\anaconda3\envs\pythonproject\lib\site-packages (from flaml[automl]) (1.16.0)
Requirement already satisfied: pandas>=1.1.4 in c:\users\pentium\anaconda3\envs\pythonproject\lib\site-packages (from flaml[automl]) (2.3.1)
Requirement already satisfied: scikit-learn>=1.0.0 in c:\users\pentium\anaconda3\envs\pythonproject\lib\site-packages (from flaml[automl]) (1.7.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\pentium\anaconda3\envs\pythonproject\lib\site-packages (from pandas>=1.1.4->flaml[automl]) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\pentium\anaconda3\envs\pythonproject\lib\site-packages (from pandas>=1.1.4->flaml[automl]) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\pentium\anaconda3\envs\pythonproject\lib\site-packages (from pandas>=1.1.4->flaml[automl]) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\pentium\anaconda3\envs\pythonproject\lib\site-packages (from python-dateutil>=2.8.2->pandas>=1.1.4->flaml[automl]) (1.17.0)
Requirement already satisfied: joblib>=1.2.0 in c:\users\pentium\anaconda3\envs\pythonproject\lib\site-packages (from scikit-learn>=1.0.0->flaml[automl]) (1.5.1)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\pentium\anaconda3\envs\pythonproject\lib\site-packages (from scikit-learn>=1.0.0->flaml[automl]) (3.6.0)
Note: you may need to restart the kernel to use updated packages.

In [49]:
df = pd.read_csv('../data/bank-additional-full.csv', na_values='unknown')
df.head()

,age,job,marital,education,default,housing,loan,is_telephone_contact,month,day_of_week,duration,campaign,pdays,previous,poutcome,y
0,56,housemaid,married,basic.4y,no,no,no,yes,may,mon,261,1,999,0,nonexistent,no
1,57,services,married,high.school,NaN,no,no,yes,may,mon,149,1,999,0,nonexistent,no
2,37,services,married,high.school,no,yes,no,yes,may,mon,226,1,999,0,nonexistent,no
3,40,admin.,married,basic.6y,no,no,no,yes,may,mon,151,1,999,0,nonexistent,no
4,56,services,married,high.school,no,no,yes,yes,may,mon,307,1,999,0,nonexistent,no

<p dir="ltr" style="direction: ltr; text-align: left; line-height:200%; font-family:vazir; font-size:medium">
  <font face="vazirmatn" size="3">
    To appreciate the value of your work, you can first run the model on the raw data—before any preprocessing has been applied—and observe its performance. By executing the cell below, a model will be trained on the data and generate results. Please note that running this cell and the modeling process may take several minutes.
    <br>
    If running this cell fails, it may be due to one of the following reasons:
  </font>
</p>

<div dir="ltr" style="direction: ltr; text-align: left; line-height:200%; font-family:vazir; font-size:medium">
  <font face="vazirmatn" size="3">
    <ul>
      <li>The Fast Auto ML library is not installed.</li>
      <li>There was an issue loading the dataset.</li>
    </ul>
  </font>
</div>

In [40]:
target_variable = 'y'
df_train = df.sample(frac=.7, random_state=313)

model = AutoML(task='classification', time_budget=120, verbose=0, estimator_list=['lgbm', 'rf'])
model.fit(df_train.drop(target_variable, axis=1), df_train[target_variable])

df_test = df.drop(df_train.index)
y_pred = model.predict(df_test.drop(target_variable, axis=1))

f1score = f1_score(df_test[target_variable], y_pred, pos_label='yes')*100
print(f'performance of model is {f1score} %')

performance of model is 52.851063829787236 %


<h2 align="left" style="line-height:200%; font-family:vazir; color:#0099cc">
  <font face="vazirmatn" color="#0099cc">
    Part One
  </font>
</h2>

<p dir="ltr" style="direction: ltr; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
  <font face="vazirmatn" size="3">
    As mentioned before, the categorical columns in this DataFrame contain missing values. As the first part of this question, we ask you to:
  </font>
</p>

<ol dir="ltr" style="direction: ltr; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
  <font face="vazirmatn" size="3">
    <li>
      Gather the names of all categorical columns of the DataFrame into a list named <code>categorical_cols</code>. The target variable should not be included in this list.
    </li>
    <li>
      Then, for each column listed in <code>categorical_cols</code>, replace its missing values with the column’s most frequent value. Store the resulting DataFrame, which has no missing values, back into <code>df</code>. Thus, after completing part one, <code>df</code> should contain no missing values.
    </li>
  </font>
</ol>

In [50]:
# TO-DO: fill `categorical_cols` and fill na values in categorical columns of `df` dataframe.
categorical_cols = ['job', 'marital', 'education', 'default', 'housing', 'loan', 'is_telephone_contact', 'month', 'day_of_week', 'poutcome']
for col in categorical_cols:
    most_freq = df[col].mode()[0]
    df[col] = df[col].fillna(most_freq)


df.head()

,age,job,marital,education,default,housing,loan,is_telephone_contact,month,day_of_week,duration,campaign,pdays,previous,poutcome,y
0,56,housemaid,married,basic.4y,no,no,no,yes,may,mon,261,1,999,0,nonexistent,no
1,57,services,married,high.school,no,no,no,yes,may,mon,149,1,999,0,nonexistent,no
2,37,services,married,high.school,no,yes,no,yes,may,mon,226,1,999,0,nonexistent,no
3,40,admin.,married,basic.6y,no,no,no,yes,may,mon,151,1,999,0,nonexistent,no
4,56,services,married,high.school,no,no,yes,yes,may,mon,307,1,999,0,nonexistent,no


<h2 align="left" style="line-height:200%; font-family:vazir; color:#0099cc">
  <font face="vazirmatn" color="#0099cc">
    Part Two
  </font>
</h2>

<p dir="ltr" style="direction: ltr; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
  <font face="vazirmatn" size="3">
    In this part, we expect you to prepare four lists. In each list, the columns of the DataFrame <code>df</code> are categorized by their type.
  </font>
</p>

<div dir="ltr" style="direction: ltr; line-height:200%; font-family:vazir; font-size:medium; text-align:left;">
  <font face="vazirmatn" size="3">
    <ul>
      <li>In the <code>continuous_cols</code> list, write the names of columns with continuous values.</li>
      <li>In the <code>binary_cols</code> list, write the names of columns with binary discrete values.</li>
      <li>In the <code>nominal_cols</code> list, write the names of columns with nominal values.</li>
      <li>In the <code>ordinal_cols</code> list, write the names of columns with ordinal values.</li>
    </ul>
  </font>
</div>

<p dir="ltr" style="direction: ltr; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
  <font face="vazirmatn" size="3">
    Note that the <code>dtype</code> of all variables introduced above must be a list.
  </font>
</p>

In [51]:
continuous_cols = [
    'age',
    'duration',
    'campaign',
    'pdays',
    'previous'
]

binary_cols = ['default', 'housing', 'loan', 'is_telephone_contact']
nominal_cols = ['job', 'marital']
ordinal_cols = ['month','day_of_week','education','poutcome']

<h2 align="left" style="line-height:200%; font-family:vazir; color:#0099cc">
  <font face="vazirmatn" color="#0099cc">
    Part Three
  </font>
</h2>

<p dir="ltr" style="direction: ltr; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
  <font face="vazirmatn" size="3">
    In part three, we want you to create a DataFrame that includes only the binary columns of the <code>df</code> DataFrame. Then convert all values in this new DataFrame to numeric.
    <br>
    Using <code>binary_cols</code>, you can construct the <code>binary_df</code> DataFrame.
    Essentially, <code>binary_df</code> is the portion of <code>df</code> that contains only its binary columns—meaning there are no continuous, nominal, or ordinal columns in <code>binary_df</code>. Note that all values in this DataFrame must be numeric (use <code>1</code> instead of <code>yes</code> and <code>0</code> instead of <code>no</code>).
  </font>
</p>

In [52]:
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()

binary_df=pd.DataFrame()
for i in binary_cols:
    binary_df[i]=label_encoder.fit_transform(df[i])
binary_df.head()

   default  housing  loan  is_telephone_contact
0        0        0     0                     1
1        0        0     0                     1
2        0        1     0                     1
3        0        0     0                     1
4        0        0     1                     1

<h2 align="left" style="line-height:200%;font-family:vazir;color:#0099cc">
  <font face="vazirmatn" color="#0099cc">
    Part Four
  </font>
</h2>

<p dir="ltr" style="direction: ltr; text-align: justify; line-height:200%;font-family:vazir;font-size:medium">
  <font face="vazirmatn" size="3">
    In part four, we want you to create a DataFrame that includes only the nominal columns of the <code>df</code> DataFrame.<br>
    Using <code>nominal_cols</code>, build the <code>nominal_df</code> DataFrame. Since nominal features have no inherent order, they must be one‑hot encoded.<br>
    The one‑hot encoding of the nominal categorical columns should be such that the names of the resulting columns consist of two parts: first, the name of the column being encoded, and second, the name of the categorical value, with the two parts separated by an underscore (<code>_</code>).<br>
    To illustrate, consider the following example. Suppose there is an imaginary column named <code>imaginary_col</code> in the dataset with these nominal values:
  </font>
</p>

<div dir="ltr" style="direction: ltr; text-align: left; line-height:200%;font-family:vazir;font-size:medium">
  <font face="vazirmatn" size="3">
    <table>
      <tr>
        <th style="padding:4px; text-align:center;"><code>imaginary_col</code></th>
      </tr>
      <tr><td><code>val1</code></td></tr>
      <tr><td><code>val1</code></td></tr>
      <tr><td><code>val2</code></td></tr>
      <tr><td><code>val3</code></td></tr>
      <tr><td><code>val2</code></td></tr>
      <tr><td><code>val1</code></td></tr>
      <tr><td><code>val3</code></td></tr>
    </table>
  </font>
</div>

<p dir="ltr" style="direction: ltr; text-align: justify; line-height:200%;font-family:vazir;font-size:medium">
  <font face="vazirmatn" size="3">
    What you should ultimately prepare for this column will look like this:
  </font>
</p>

<div style="line-height:200%;font-family:vazir;font-size:medium; text-align: left;">
  <font face="vazirmatn" size="3">
    <table>
      <tr>
        <th style="padding:4px; text-align:center;"><code>imaginary_col_val1</code></th>
        <th style="padding:4px; text-align:center;"><code>imaginary_col_val2</code></th>
        <th style="padding:4px; text-align:center;"><code>imaginary_col_val3</code></th>
      </tr>
      <tr><td><code>1</code></td><td><code>0</code></td><td><code>0</code></td></tr>
      <tr><td><code>1</code></td><td><code>0</code></td><td><code>0</code></td></tr>
      <tr><td><code>0</code></td><td><code>1</code></td><td><code>0</code></td></tr>
      <tr><td><code>0</code></td><td><code>0</code></td><td><code>1</code></td></tr>
      <tr><td><code>0</code></td><td><code>1</code></td><td><code>0</code></td></tr>
      <tr><td><code>1</code></td><td><code>0</code></td><td><code>0</code></td></tr>
      <tr><td><code>0</code></td><td><code>0</code></td><td><code>1</code></td></tr>
    </table>
  </font>
</div>

<p dir="ltr" style="direction: ltr; text-align: justify; line-height:200%;font-family:vazir;font-size:medium">
  <font face="vazirmatn" size="3">
    Repeat this process for every nominal column in the <code>df</code> DataFrame. Finally, concatenate the tables resulting from one‑hot encoding each column and store the final result in the <code>nominal_df</code> variable. Note that the <code>nominal_df</code> DataFrame should not include the original columns that were one‑hot encoded—only the encoded columns should be present.
  </font>
</p>

In [53]:
# TO-DO: create `nominal_df` according to above explanations
import pandas as pd



nominal_df = pd.get_dummies(
    df[nominal_cols],
    prefix=nominal_cols,
    prefix_sep='_',
    dtype=int
)


nominal_df.head()

,job_admin.,job_blue-collar,job_entrepreneur,job_housemaid,job_management,job_retired,job_self-employed,job_services,job_student,job_technician,job_unemployed,marital_divorced,marital_married,marital_single
0,0,0,0,1,0,0,0,0,0,0,0,0,1,0
1,0,0,0,0,0,0,0,1,0,0,0,0,1,0
2,0,0,0,0,0,0,0,1,0,0,0,0,1,0
3,1,0,0,0,0,0,0,0,0,0,0,0,1,0
4,0,0,0,0,0,0,0,1,0,0,0,0,1,0

<h2 align="left" style="line-height:200%; font-family:vazir; color:#0099cc">
  <font face="vazirmatn" color="#0099cc">
    Part Five
  </font>
</h2>

<p dir="ltr" style="direction: ltr; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
  <font face="vazirmatn" size="3">
    In part five, we ask you to create a DataFrame that includes only the ordinal columns of the <code>df</code> DataFrame. Then convert all values in this new DataFrame to numeric.
    <br>
    Using <code>ordinal_cols</code>, build the <code>ordinal_df</code> DataFrame. As you did in part three for the binary columns, apply the same process to the ordinal columns. That is, using the conversion tables provided at the beginning of the exercise, convert the values in <code>ordinal_df</code> to numbers.
  </font>
</p>

In [54]:
# TO-DO: create `ordinal_df` accordiing to above explanations
ordinal_df = pd.DataFrame()

education_order = ['illiterate', 'basic.4y', 'basic.6y', 'basic.9y', 'high.school',
                   'professional.course', 'university.degree', 'unknown']
day_of_week_order = ['mon', 'tue', 'wed', 'thu', 'fri']
month_order = ['jan', 'feb', 'mar', 'apr', 'may', 'jun',
               'jul', 'aug', 'sep', 'oct', 'nov', 'dec']
poutcome_order = ['failure', 'nonexistent', 'success']

# فقط مقدارهای missing را با 'nonexistent' جایگزین کنید
df['poutcome'] = df['poutcome'].fillna('nonexistent')

ordinal_df['poutcome'] = pd.Categorical(df['poutcome'], categories=poutcome_order, ordered=True).codes
ordinal_df['education'] = pd.Categorical(df['education'], categories=education_order, ordered=True).codes
ordinal_df['day_of_week'] = pd.Categorical(df['day_of_week'], categories=day_of_week_order, ordered=True).codes
ordinal_df['month'] = pd.Categorical(df['month'], categories=month_order, ordered=True).codes






ordinal_df.head()

   poutcome  education  day_of_week  month
0         1          1            0      4
1         1          4            0      4
2         1          4            0      4
3         1          2            0      4
4         1          4            0      4

<h2 align="left" style="line-height:200%; font-family:vazir; color:#0099cc">
  <font face="vazirmatn" color="#0099cc">
    <b>Answer Cell</b>
  </font>
</h2>

<p dir="ltr" style="direction: ltr; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
  <font face="vazirmatn" size="3">
    To generate the <code>result.zip</code> file, run the cell below. Make sure to save your notebook changes (Ctrl+S) before running this cell so that, if you need support, your code can be reviewed.
  </font>
</p>

In [55]:
import zipfile
import joblib

joblib.dump(categorical_cols, "categorical_cols")
joblib.dump(continuous_cols, "continuous_cols")
joblib.dump(binary_cols, "binary_cols")
joblib.dump(nominal_cols, "nominal_cols")
joblib.dump(ordinal_cols, "ordinal_cols")

binary_df.to_csv('binary_df.csv', index=False)
nominal_df.to_csv('nominal_df.csv', index=False)
ordinal_df.to_csv('ordinal_df.csv', index=False)

df.to_csv('df.csv', index=False)

def compress(file_names):
    print("File Paths:")
    print(file_names)
    compression = zipfile.ZIP_DEFLATED
    with zipfile.ZipFile("result.zip", mode="w") as zf:
        for file_name in file_names:
            zf.write('./' + file_name, file_name, compress_type=compression)

file_names = ["categorical_cols", "continuous_cols", "binary_cols", "nominal_cols", "ordinal_cols", \
              "binary_df.csv", "nominal_df.csv", "ordinal_df.csv", "df.csv", "bank_marketing.ipynb"]
compress(file_names)

File Paths:
['categorical_cols', 'continuous_cols', 'binary_cols', 'nominal_cols', 'ordinal_cols', 'binary_df.csv', 'nominal_df.csv', 'ordinal_df.csv', 'df.csv', 'bank_marketing.ipynb']

<h2 align="left" style="line-height:200%; font-family:vazir; color:#0099cc">
  <font face="vazirmatn" color="#0099cc">
    Modeling
  </font>
</h2>

<p dir="ltr" style="direction: ltr; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
  <font face="vazirmatn" size="3">
    Now that you have completed the tasks, we recommend running the model again on the new dataset you have prepared to observe the impact of preprocessing on the final results.
    To redo the modeling, simply execute the cell below.
    If this cell fails to run, it may be due to one of the following reasons:
    <ul dir="ltr">
      <li>The Fast Auto ML library is not installed.</li>
      <li>The preprocessing steps were applied incorrectly.</li>
    </ul>
  </font>
</p>

In [47]:
target_variable = 'y'
new_df = df[continuous_cols].join([binary_df, nominal_df, ordinal_df])

model = AutoML(task='classification', time_budget=120, verbose=0, estimator_list=['lgbm', 'rf'])
model.fit(new_df, df[target_variable])

df_test = new_df.join(df.y).sample(frac=0.3, random_state=313)
y_pred = model.predict(df_test.drop(target_variable, axis=1))

f1score = f1_score(df_test[target_variable], y_pred, pos_label='yes')*100
print(f'performance of model is {f1score} %')

performance of model is 60.94845360824742 %